beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
cycler==0.10.0
Flask==2.3.2
gunicorn==23.0.0
itsdangerous==0.24
Jinja2==3.1.6
MarkupSafe==0.23
matplotlib==1.5.3
nltk==3.9
numpy==1.22.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
Werkzeug==3.1.5
